.blog-section {
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.blog-section .rotate-left {
  width: 66%;
}
.blog-section .rotate-left .blog-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-section .rotate-left h1 {
  font-size: 50px;
  margin-left: 17%;
  font-weight: 400;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.blog-section .rotate-left .next-page {
  display: flex;
  justify-content: center;
}
.blog-section .rotate-left .next-page a {
  padding: 10px 25px;
  border: 1px solid rgb(232, 222, 222);
  margin: 40px 0;
}
.blog-section .blog {
  width: 464px;
  height: auto;
  padding: 45px;
  margin-right: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: rgb(80, 72, 72);
}
.blog-section .blog h1 {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 2em;
  font-weight: 400;
}
.blog-section .blog h2 {
  font-weight: 500;
  font-size: 19px;
}
.blog-section .blog h2 a {
  color: rgb(173, 20, 20);
}
.blog-section .blog h3 {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 44px;
}
.blog-section .blog button {
  background-color: rgb(173, 20, 20);
  color: #fff;
  padding: 3px 2px;
  font-size: 19px;
  font-weight: bold;
}
.blog-section .rotate-right {
  background-color: rgb(243, 243, 243);
  width: 427px;
  padding: 30px;
  margin-right: 7%;
  margin-bottom: 300px;
}
.blog-section .rotate-right h1 {
  font-size: 42px;
  font-weight: 100;
  font-family: "Playfair Display";
}
.blog-section .rotate-right .post-link a {
  color: rgb(173, 20, 20);
  font-weight: bold;
  font-size: 21px;
  margin: 49px 0;
  display: block;
}
.blog-section .rotate-right .input-area {
  background-color: rgb(18, 18, 59);
  padding: 10px;
  display: flex;
}
.blog-section .rotate-right .input-area input {
  border: none;
}
.blog-section .rotate-right h3 {
  margin: 60px 0;
  font-weight: normal;
  font-size: 28px;
}
.blog-section .rotate-right .tag-area a {
  background-color: #fff;
  border: 1px solid #e7dbdb;
  padding: 7px 5px;
  font-size: 18px;
  display: inline-block;
  margin: 2px 0;
}
.blog-section .rotate-right .criminal-defence-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: inline-block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}
.blog-section .rotate-right .personal-injury-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: inline-block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}

.defence-banner-area {
  background-image: url(../images/crime-bg.avif);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 0;
  background-color: rgba(0, 26, 86, 0.64);
  background-size: cover;
  background-blend-mode: soft-light;
  height: 400px;
}
.defence-banner-area .defence-banner-content {
  padding-top: 0;
  color: #F7EDEE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.defence-banner-area .defence-banner-content .defence-banner-text {
  width: 80%;
  line-height: 39px;
}
.defence-banner-area .defence-banner-content .defence-banner-text h1 {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  padding: 33px 0;
}
.defence-banner-area .defence-banner-content .defence-banner-text h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 3rem;
}
.defence-banner-area .defence-banner-content .defence-banner-text p {
  font-weight: 100;
  font-size: 1.5rem;
  padding: 37px 0;
  color: #fff;
}
.defence-banner-area .defence-banner-content .defence-banner-text a {
  margin-bottom: 4rem;
  color: #f7eded;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  text-align: center;
  padding: 0.75rem;
  background-color: rgb(215, 6, 6);
  cursor: pointer;
  transition-duration: 0.3s;
}
.defence-banner-area .defence-banner-content .defence-banner-text a:hover {
  background-color: #3274c9;
}

.crime-charge-section {
  display: flex;
  align-content: center;
  justify-content: center;
}
.crime-charge-section .case-area {
  width: 80%;
  padding: 26px 0;
}
.crime-charge-section .case-area .charges-heading h2 {
  text-transform: uppercase;
  width: 300px;
  background-color: #041127;
  margin: 50px auto;
  padding: 10px;
  color: #f7eded;
  border-radius: 40px;
  font-weight: 300;
  text-align: center;
}
.crime-charge-section .case-area .charge-boxes .charge {
  margin: 1rem;
  padding: 2.25rem;
  background-color: #4172cd;
  align-content: center;
}

.califoria-criminal-defence {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}
.califoria-criminal-defence .left-area {
  width: 55%;
}
.califoria-criminal-defence .left-area .lawyers a {
  color: #c50e0e;
  font-size: 20px;
}
.califoria-criminal-defence .left-area .lawyers a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .lawyers span {
  font-size: 20px;
  color: #495f82;
}
.califoria-criminal-defence .left-area .lawyers h2 {
  padding-top: 42px;
  font-size: 51px;
  font-weight: normal;
}
.califoria-criminal-defence .left-area .lawyers .devider {
  margin: 0.25rem 0;
  padding: 2rem 0;
}
.califoria-criminal-defence .left-area .lawyers .devider hr {
  border-top: 3px solid #180b0b;
  border-radius: 0.25rem;
  width: 29.333333%;
}
.califoria-criminal-defence .left-area .lawyers h3 {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 25px;
}
.califoria-criminal-defence .left-area .lawyers p {
  padding: 10px 0;
  line-height: 34px;
  font-size: 18px;
  color: #495f82;
}
.califoria-criminal-defence .left-area .contents {
  border: 1px solid black;
  padding-top: 20px;
  margin-right: 33%;
  background: #f7f7f7;
}
.califoria-criminal-defence .left-area .contents span {
  font-size: 25px;
  padding-left: 10px;
}
.califoria-criminal-defence .left-area .contents span a {
  font-size: 16px;
}
.califoria-criminal-defence .left-area .contents span a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .contents a {
  color: #c50e0e;
}
.califoria-criminal-defence .left-area .contents .order-list {
  padding-left: 43px;
}
.califoria-criminal-defence .left-area .contents .order-list li::before {
  content: counter(ol);
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  list-style-type: decimal;
}
.califoria-criminal-defence .left-area .contents .order-list a {
  color: #c50e0e;
  font-size: 21px;
  font-weight: 100;
}
.califoria-criminal-defence .left-area .contents .order-list a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area p {
  font-size: 18px;
  padding: 22px 0;
  color: #495f82;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #031a3e;
  padding: 21px 0;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p {
  font-size: 18px;
  padding: 22px 0;
  color: #495f82;
  line-height: 2.25rem;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p a {
  color: #c50e0e;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers .alcohol-catagory {
  list-style-type: disc;
  padding-left: 38px;
  line-height: 2.25rem;
  color: #495f82;
  font-size: 18px;
}
.califoria-criminal-defence .right-area {
  width: 23%;
  margin-left: 25px;
}
.califoria-criminal-defence .right-area .form-section {
  background-color: #031a3e;
  padding: 26px;
  color: #fff;
}
.califoria-criminal-defence .right-area .form-section img {
  width: 39%;
  height: auto;
  border-radius: 50%;
  margin-left: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.califoria-criminal-defence .right-area .form-section .form {
  display: flex;
  flex-direction: column;
}
.califoria-criminal-defence .right-area .form-section .form input {
  padding: 10px 10px;
  margin: 6px 0;
  color: #0f0e0e;
}

.free-coun {
  text-align: center;
  margin: 83px 0;
  color: #fff;
  font-size: 18px;
}
.free-coun a {
  background-color: #c50e0e;
  padding: 20px;
  text-transform: capitalize;
  transition-duration: 0.3s;
}
.free-coun a span {
  text-transform: uppercase;
}
.free-coun a:hover {
  background-color: #3274c9;
}

.courts-section {
  padding: 71px;
  text-align: center;
  background-color: rgb(241, 245, 249);
}/*# sourceMappingURL=blog.css.map */