$textcolor : rgb(80 72 72);
$btncolor : rgb(173 20 20);
$hoverclr : #3274c9;


.blog-section {
    width: 100%;
    margin-top: 32px;
    display: flex;

    .rotate-left {
        width: 66%;

        .blog-content {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 50px;
            margin-left: 17%;
            font-weight: 400;
            font-family: "Playfair Display", Arial, Helvetica, sans-serif;

        }

        .next-page {
            display: flex;
            justify-content: center;

            a {
                padding: 10px 25px;
                border: 1px solid rgb(232 222 222);
                margin: 40px 0;
            }
        }

    }

    .blog {
        width: 464px;
        height: auto;
        padding: 45px;
        margin-right: 20px;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
        color: $textcolor;

        h1 {
            margin-left: 0;
            font-family: "Playfair Display";
            font-size: 2em;
            font-weight: 400;
        }

        h2 {
            font-weight: 500;
            font-size: 19px;

            a {
                color: $btncolor;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 44px;
        }

        button {
            background-color: $btncolor;
            color: #fff;
            padding: 3px 2px;
            font-size: 19px;
            font-weight: bold;
        }
    }



    .rotate-right {
        background-color: rgb(243 243 243);
        width: 427px;
        padding: 30px;
        margin-right: 7%;
        margin-bottom: 300px;

        h1 {
            font-size: 42px;
            font-weight: 100;
            font-family: "Playfair Display";

        }

        .post-link {
            a {
                color: $btncolor;
                font-weight: bold;
                font-size: 21px;
                margin: 49px 0;
                display: block;

            }

        }


        .input-area {
            background-color: rgb(18, 18, 59);
            padding: 10px;
            display: flex;

            input {
                border: none;
            }
        }

        h3 {
            margin: 60px 0;
            font-weight: normal;
            font-size: 28px;
        }

        .tag-area {
            a {
                background-color: #fff;
                border: 1px solid #e7dbdb;
                padding: 7px 5px;
                font-size: 18px;
                display: inline-block;
                margin: 2px 0;
            }
        }

        .criminal-defence-area {
            a {
                padding: 5px 5px;
                font-size: 18px;
                display: inline-block;
                margin: 2px 0;
                color: $btncolor;
                font-weight: bold;
            }
        }

        .personal-injury-area {
            a {
                padding: 5px 5px;
                font-size: 18px;
                display: inline-block;
                margin: 2px 0;
                color: $btncolor;
                font-weight: bold;
            }
        }
    }


}


// Criminal Defense Attorneys

$fontclr : #c50e0e;
$ptextclr : #495f82;
$h3color : #031a3e;


.defence-banner-area {
    background-image: url(../images/crime-bg.avif);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 0;
    background-color: rgba(0, 26, 86, 0.64);
    background-size: cover;
    background-blend-mode: soft-light;
    height: 400px;


    .defence-banner-content {
        padding-top: 0;
        color: #F7EDEE;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        .defence-banner-text {
            width: 80%;
            line-height: 39px;

            h1 {
                font-weight: 100;
                font-size: 1.5rem;
                font-style: italic;
                padding: 33px 0;
            }

            h2 {
                font-weight: 500;
                font-size: 3.5rem;
                line-height: 3rem;
            }

            p {
                font-weight: 100;
                font-size: 1.5rem;
                padding: 37px 0;
                color: #fff;
            }

            a {
                margin-bottom: 4rem;
                color: #f7eded;
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.75rem;
                padding-left: 2.25rem;
                padding-right: 2.25rem;
                text-align: center;
                padding: 0.75rem;
                background-color: rgb(215, 6, 6);
                cursor: pointer;
                transition-duration: 0.3s;

                &:hover {
                    background-color: $hoverclr;
                    ;
                }
            }
        }
    }
}

.crime-charge-section {
    display: flex;
    align-content: center;
    justify-content: center;

    .case-area {
        width: 80%;
        padding: 26px 0;

        .charges-heading {
            h2 {
                text-transform: uppercase;
                width: 300px;
                background-color: #041127;
                margin: 50px auto;
                padding: 10px;
                color: #f7eded;
                border-radius: 40px;
                font-weight: 300;
                text-align: center;
            }
        }

        .charge-boxes {

            .charge {
                margin: 1rem;
                padding: 2.25rem;
                background-color: #4172cd;
                align-content: center;
            }
        }

    }

}

.califoria-criminal-defence {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 80px;

    .left-area {
        width: 55%;

        .lawyers {
            a {
                color: $fontclr;
                font-size: 20px;

                &:hover {
                    color: $hoverclr;
                }
            }

            span {

                font-size: 20px;
                color: $ptextclr;

            }

            h2 {
                padding-top: 42px;
                font-size: 51px;
                font-weight: normal;
            }

            .devider {

                margin: 0.25rem 0;
                padding: 2rem 0;

                hr {
                    border-top: 3px solid #180b0b;
                    border-radius: 0.25rem;
                    width: 29.333333%;
                }
            }

            h3 {
                font-size: 33px;
                text-transform: uppercase;
                font-weight: normal;
                padding-bottom: 25px;
            }

            p {
                padding: 10px 0;
                line-height: 34px;
                font-size: 18px;
                color: $ptextclr;
            }
        }

        .contents {
            border: 1px solid black;
            padding-top: 20px;
            margin-right: 33%;
            background: #f7f7f7;

            span {
                font-size: 25px;
                padding-left: 10px;

                a {
                    font-size: 16px;

                    &:hover {
                        color: $hoverclr;
                    }
                }
            }

            a {
                color: $fontclr;
            }

            .order-list {

                padding-left: 43px;

                li::before {
                    content: counter(ol);
                    color: red;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                    list-style-type: decimal;

                }


                a {
                    color: #c50e0e;
                    font-size: 21px;
                    font-weight: 100;

                    &:hover {
                        color: $hoverclr;
                    }
                }
            }

        }

        p {
            font-size: 18px;
            padding: 22px 0;
            color: $ptextclr;
        }

        .alcohol-crime-lawyers {
            h3 {
                font-size: 30px;
                text-transform: uppercase;
                font-weight: normal;
                color: $h3color;
                padding: 21px 0;
            }

            p {
                font-size: 18px;
                padding: 22px 0;
                color: $ptextclr;
                line-height: 2.25rem;

                a {
                    color: $fontclr;

                    &:hover {
                        color: $hoverclr ;
                    }
                }
            }

            .alcohol-catagory {
                list-style-type: disc;
                padding-left: 38px;
                line-height: 2.25rem;
                color: $ptextclr;
                font-size: 18px;
            }
        }
    }

    .right-area {
        width: 23%;
        margin-left: 25px;

        .form-section {
            background-color: #031a3e;
            padding: 26px;
            color: #fff;

            img {
                width: 39%;
                height: auto;
                border-radius: 50%;
                margin-left: 76px;
                object-fit: cover;
            }

            .form {
                display: flex;
                flex-direction: column;

                input {
                    padding: 10px 10px;
                    margin: 6px 0;
                    color: #0f0e0e;
                }
            }
        }
    }
}



.free-coun {
    text-align: center;
    margin: 83px 0;
    color: #fff;
    font-size: 18px;

    a {

        background-color: $fontclr;
        padding: 20px;
        text-transform: capitalize;
        transition-duration: 0.3s;

        span {
            text-transform: uppercase;
        }

        &:hover {
            background-color: $hoverclr;

        }
    }
}


.courts-section {
    padding: 71px;
    text-align: center;
    background-color: rgb(241, 245, 249);
}



// Team area style start from here

$contact-bgclr : rgb(241, 245, 249);
$headlineclr : #041127;



.member-contact-info {
    display: flex;
    background-color: #e8eff9;
    width: 100%;
    justify-content: center;
    margin: 35px 0;
    gap: 40px;

    .image {
        width: 30%;
        padding-left: 40px;

        img {
            width: 400px;
            height: 463px;
            object-fit: fill;
        }
    }

    .info {
        width: 60%;
        align-content: center;

        h1 {
            font-size: 3rem;
            font-weight: normal;
            color: $headlineclr;
            line-height: 55px;
        }

        h2 {
            font-size: 2rem;
            font-weight: 100;
            text-transform: uppercase;
            padding-bottom: 51px;
        }

        ul {
            display: flex;
            font-size: 1.25rem;
            flex-wrap: wrap;

            li {
                padding-right: 15px;

                a {
                    color: $fontclr;

                    &:hover {
                        color: $hoverclr;
                    }

                }
            }
        }
    }
}

.content {
    width: 100%;

    .text {
        width: 80%;
        margin-left: 7%;

        a {
            color: $fontclr;
            font-size: 1.25rem;



            &:hover {
                color: $hoverclr;

            }
        }


        p {
            color: $textcolor;
            font-size: 1.25rem;
            line-height: 36px;
            padding: 13px 0;

            span {
                color: #031a3e;
            }
        }

        h2 {
            font-size: 2.25rem;
            font-weight: normal;
            text-transform: uppercase;
            padding: 28px 0;
            color: $headlineclr;
        }

        h3 {
            font-size: 1.75rem;
            font-weight: normal;
            color: $headlineclr;
        }



        ul {
            padding-left: 40px;

            li {
                list-style-type: disc;
                line-height: 40px;
                font-size: 1.25rem;
                color: $textcolor;
            }
        }

        .click {
            text-align: center;

            a {
                color: #c50e0e;
                font-size: 1.25rem;
                margin-bottom: 69px;
                display: block;
                text-transform: uppercase;
            }
        }
    }

}

.court-area {
    height: 200px;
    width: 100%;
    background-color: $contact-bgclr;
    text-align: center;
    align-content: center;

    .court-serve {
        width: 80%;
        margin-left: 7%;

        .court-heading {
            padding: 10px;

            h3 {
                font-weight: 200;
                text-transform: uppercase;
                font-size: 1.75rem;
                color: $h3color;
            }
        }

        .courts {
            padding-top: 10px;

            a {
                font-size: 1rem;
                color: $h3color;
            }
        }
    }
}


// attrony profile info style start from here


.introduce {
    margin-top: 70px;

    h1 {
        font-size: 3rem;
        font-weight: normal;
        color: $headlineclr;
        text-transform: capitalize;
        text-align: center;
    }

    .devider {

        display: flex;
        margin-top: 1.25rem;
        justify-content: center;

        hr {
            border-top: 3px solid #180b0b;
            border-radius: 0.25rem;
            width: 23.333333%;
        }
    }
}

.attorny-profile-information {
    background-color: #fff !important;
}

.attorny-profile-info {
    display: flex;
    background-color: #e8eff9;
    width: 100%;
    height: 500px;
    justify-content: center;
    margin: 35px 0;
    gap: 40px;
    padding: 0px 42px;

    .image {
        width: 30%;
        align-items: center;
        display: flex;
        padding: 29px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .info {
        width: 60%;
        padding-top: 76px;

        h2 {
            font-size: 2rem;
            font-weight: normal;
            color: $headlineclr;
            line-height: 55px;
        }

        span {
            font-size: 1.25rem;
            font-weight: normal;
            text-transform: uppercase;
            padding-bottom: 51px;
            color: $fontclr;
        }

        p {
            font-size: 1.25rem;
            font-weight: 100;
            padding: 24px 0;
            line-height: 39px;
            color: $textcolor;
        }

        a {
            font-size: 1.25rem;
            color: $fontclr;
            text-transform: uppercase;

            &:hover {
                color: $hoverclr;
            }
        }

    }
}

.ready-team {
    height: 200px;
    width: 100%;
    text-align: center;
    align-content: center;

    .court-serve {
        width: 80%;
        margin-left: 7%;
        padding-bottom: 22px;

        h3 {
            font-weight: 200;
            font-size: 1.50rem;
            color: $h3color;

        }

        .call {
            padding-top: 10px;

            span {
                font-size: 1.75rem;
                color: $h3color;
                text-transform: capitalize;
            }

            a {
                font-size: 1.75rem;
                color: $fontclr;

                &:hover {
                    color: $hoverclr;
                }
            }
        }
    }
}

// contact side style start from here



.background-section {
    background-image: url(../images/home_ok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .right-area {
        width: 500px;
        margin-top: 27px;
        margin-right: 8%;

        .form-section {
            background-color: #031a3e;
            padding: 36px;
            color: #fff;

            .form {
                display: flex;
                flex-direction: column;

                input {
                    padding: 10px 10px;
                    margin: 6px 0;
                    color: #0f0e0e;
                }

                .checkbox {
                    display: flex;
                    padding-top: 30px;

                    input {
                        margin: 10px;
                    }
                }

                button {
                    background-color: $fontclr;
                    padding: 10px 10px;
                    margin: 30px 93px;

                }
            }

            h1 {
                font-size: 2rem;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                font-size: 1.75rem;
                text-align: center;
                padding-bottom: 19px;
            }
        }
    }
}


.contact-info {
    margin-top: 70px;
    text-align: center;
    line-height: 5.5rem;
    margin-left: 20px;
    margin-right: 20px;

    h1 {
        font-size: 50px;
        font-weight: normal;
        color: $headlineclr;
        text-transform: capitalize;
        text-align: center;
    }

    .devider {

        display: flex;
        margin-top: 1.25rem;
        justify-content: center;

        hr {
            border-top: 4px solid #180b0b;
            border-radius: 0.25rem;
            width: 23.333333%;
        }
    }

    h2 {
        font-size: 24pt;
        text-transform: uppercase;
        font-weight: normal;
        color: $headlineclr;
    }

    p {
        font-size: 1.25rem;
        color: $h3color;

    }

    .contact {
        display: flex;
        width: 100%;
        justify-content: center;

        .contact-item {
            display: flex;
            justify-content: space-between;
            width: 74%;
            line-height: 3rem;

            .email {
                padding: 0 10px;

                .icon {
                    font-size: 38px;
                    color: $fontclr;
                }

                h2 {
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: $h3color;

                    &:hover {
                        color: $fontclr;
                    }
                }

                p {
                    color: $textcolor;
                    font-size: 1.25rem;
                }
            }

            .phone {
                padding: 0 10px;

                .icon {
                    font-size: 38px;
                    color: $fontclr;
                }

                h2 {
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: $h3color;

                    &:hover {
                        color: $fontclr;
                    }
                }

                p {
                    color: $textcolor;
                    font-size: 1.25rem;
                }
            }

            .time {
                padding: 0 10px;

                .icon {
                    font-size: 38px;
                    color: $fontclr;
                }

                h2 {
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: $h3color;

                    &:hover {
                        color: $fontclr;
                    }
                }

                p {
                    color: $textcolor;
                    font-size: 1.25rem;
                }
            }



        }
    }
}




.call-now {
    margin-top: 70px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

    .team-details {
        line-height: 4.5rem;
    }

    h2 {
        font-size: 50px;
        font-weight: normal;
        color: $headlineclr;
        text-transform: uppercase;
        text-align: center;
    }


    h3 {
        font-size: 30px;
        font-weight: normal;
        color: $headlineclr;
    }

    h4 {
        font-size: 26px;
        font-weight: normal;
        color: $headlineclr;
        text-decoration: underline;
    }

    p {
        font-size: 1.25rem;
        color: $h3color;

    }

    .contact {
        display: flex;
        width: 100%;
        justify-content: center;

        .all-call-details {
            display: flex;
            justify-content: space-between;
            width: 74%;
            line-height: 3rem;

            .call-details {
                padding: 15px 0;

                .call {
                    line-height: 23px;
                    padding: 14px 0;

                    a {
                        color: $h3color;
                        font-weight: bold;
                    }

                    p {
                        font-size: 1rem;
                        color: $ptextclr;
                    }
                }
            }

        }
    }
}