header nav {
  padding: 1.5rem;
  background-color: #041127;
}
header nav .header-area {
  margin: auto;
  max-width: 80rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
header nav .header-area .header-middle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .header-area .header-middle .header-last-area {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
}
header nav .header-area .header-middle .header-pre-last-area {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  flex-wrap: nowrap;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-first-child-area {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area {
  display: flex;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .header-third-child-area-1 {
  display: flex;
  padding-bottom: 1rem;
  justify-content: flex-end;
  align-items: center;
  color: #f7eded;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .header-third-child-area-1 p {
  font-weight: 700;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .header-third-child-area-1 .fa-phone-volume {
  padding: 0 8px;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .header-third-child-area-1 a {
  font-size: 1.5rem;
  line-height: 2rem;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .main-menu {
  display: flex;
  text-transform: uppercase;
  color: #f7eded;
}
header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area .main-menu a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-decoration: inherit;
  border-radius: 0.375rem;
}
header nav .header-area .mobile-menu {
  display: none;
}
header nav .header-area .mobile-menu .sub-mobile-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
header nav .header-area .mobile-menu .sub-mobile-menu a {
  background-color: #041127;
  color: #f7eded;
  display: block;
  border-radius: 0.375rem;
  text-decoration: inherit;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
}
header .page-heading {
  background-color: rgb(215, 6, 6);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
header .page-heading a {
  color: #f7eded;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-decoration: inherit;
  text-align: center;
}

.first-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first-section .company {
  display: flex;
  flex-direction: row;
  margin-inline-start: 1.5rem;
}
.first-section .company .sub-company {
  flex-basis: 25%;
  padding: 2.25rem;
}
.first-section .company .sub-company p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #565661;
}
.first-section .company .company-logo {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  padding: 2.25rem;
}

.second-section {
  background-color: #041127;
  margin-top: 2.5rem;
}
.second-section .page-heading {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.second-section .page-heading p {
  color: #f7eded;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
  text-align: center;
}
.second-section .company {
  display: flex;
  flex-direction: row;
  margin-inline-start: 1.5rem;
}
.second-section .company .company-logo {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  padding: 2.25rem;
}

.third-section .text {
  margin-top: 3rem;
}
.third-section .text p {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}
.third-section .text .devider {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  padding: 2rem 0;
}
.third-section .text .devider hr {
  border-top: 4px solid #180b0b;
  border-radius: 0.25rem;
  width: 33.333333%;
}
.third-section .text .second-text p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 2rem;
  margin: 0 8rem;
}
.third-section .text .middle-text {
  margin: 0 8rem;
}
.third-section .text .middle-text p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: start;
  padding: 9px 0;
}
.third-section .text .middle-text .last-text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  padding: 2rem;
  margin: 0 8rem;
}
.third-section .text .middle-text .button-area {
  display: flex;
  justify-content: center;
}
.third-section .text .middle-text .button-area button {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 4rem;
  margin-top: 2.5rem;
  color: #f7eded;
  background-color: rgb(215, 6, 6);
}
.third-section .owner {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-inline-start: 6rem;
  margin-inline-end: 6rem;
}
.third-section .owner p {
  font-size: 22px;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
  color: #465268;
}
.third-section .owner a {
  font-size: 19px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: rgb(153, 27, 27);
}
.third-section .banner-area {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  text-align: center;
  margin: 0 9rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #f7eded;
}
.third-section .banner-area .banner {
  margin: 1rem;
  padding: 1.25rem;
  background-color: #0d44aa;
}
.third-section .page-heading {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.third-section .page-heading a {
  font-weight: 700;
  color: rgb(153, 27, 27);
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}

.last-section {
  padding-top: 7rem;
  text-align: center;
  background-color: rgb(241, 245, 249);
}
.last-section .content {
  margin: 0 8rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.last-section .heading-content {
  margin: 0 5rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #041127;
}
.last-section .button-area {
  display: flex;
  justify-content: center;
}
.last-section .button-area button {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 4rem;
  margin-top: 2.5rem;
  color: #f7eded;
  background-color: rgb(215, 6, 6);
}

/* responsive css */
@media all and (min-width: 1024px) {
  header .header-area {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (min-width: 768px) {
  header .header-last-area {
    display: none;
  }
  header .header-child-area {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
  header .header-child-area .header-second-child-area {
    display: block;
    margin-left: 1.5rem;
  }
  header .header-child-area .header-second-child-area .main-menu {
    flex-wrap: wrap;
  }
}
@media all and (min-width: 640px) {
  header nav .header-area {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  header nav .header-area .header-pre-last-area {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 768px) {
  header nav .header-area .header-middle .header-pre-last-area .header-child-area {
    justify-content: center;
  }
  header nav .header-area .header-middle .header-pre-last-area .header-child-area .header-second-child-area {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */