@media all and (min-width: 1024px) {
    header {
        .header-area {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media all and (min-width: 768px) {
    header {
        .header-last-area {
            display: none;
        }

        .header-child-area {
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;

            .header-second-child-area {
                display: block;
                margin-left: 1.5rem;

                .main-menu {
                    flex-wrap: wrap;
                }
            }
        }
    }
    header {
        nav {
            .header-area {
                .header-middle {
                    .header-last-area {
                        .toogle-button{
                            display: none;
                        } 
                    }
                } 
            }
    
        } 
    }
  
}


@media all and (min-width: 640px) {

    header {
        nav {
            .header-area {
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                .header-pre-last-area { 
                    justify-content: space-between;
                    align-items: stretch;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Maximum width style 

@media all and (max-width: 991px) {
    .first-section{
        .banner-area .banner-content {
            padding-top: 3rem;
            color: #f7eded;
            display: flex;
            justify-content: center;
            .banner-text{
                width: 80%;
            }
           
        }
        .company {
            flex-wrap: wrap;
        }
    }
    
}

@media all and (max-width: 768px) {
        header {
            nav {
        
                .header-area {
        
                    .header-middle {
                        .header-pre-last-area {
                            .header-child-area {
                                justify-content: center;
                                .header-second-child-area {
                                    display: none;
                                }
                            }
                        }
                        .header-last-area {
                            .toogle-button{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .third-section{
            .case-boxes{
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        footer{
            .footer-area {
                flex-wrap: wrap;
                justify-content: center;
                .footer-left{
                    a{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
       
       
        
}

@media all and (max-width: 640px) {
    header{
        nav{
            .header-area{
                .header-middle {
                    .header-pre-last-area{
                        .header-child-area{
                            .header-first-child-area{
                                img{
                                    width: 200px;
                                    height: auto;
                                }
                            }
                        }
                    }
                    }
                }
        }
    }
    .first-section{
        .company {
            flex-direction: column;
        }
    }
    .second-section{
        .company {
            flex-direction: column;
        }
    }
    .third-section{
        .text{
            .second-text{
                p{
                    padding: 0;
                    margin: 0 2rem;
                }
            }
            .middle-text{
                margin: 0 2rem;
                .last-text{
                    margin: 0 2rem;
                }
            }
        }
        .owner{
            flex-direction: column;
        }

    }
    .third-section{
        .case-boxes{
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }


}