
@media all and (min-width: 1024px){
	header{
        .header-area{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media all and (min-width: 768px){
	header{
        .header-last-area{
            display: none;
        }
    }
}


@media all and (min-width: 640px){
	header{
        nav{
            .header-area{
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            .header-middle{

            }
            }
        }
    }
}
