.blog-section {
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.blog-section .rotate-left {
  width: 66%;
}
.blog-section .rotate-left .blog-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-section .rotate-left h1 {
  font-size: 50px;
  margin-left: 17%;
  font-weight: 400;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.blog-section .rotate-left .next-page {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.blog-section .rotate-left .next-page .current {
  background-color: #041127;
  padding: 10px 25px;
  border: 1px solid #fff;
  color: #fff;
  margin: 40px 0;
}
.blog-section .rotate-left .next-page a, .blog-section .rotate-left .next-page .dots {
  padding: 10px 25px;
  border: 1px solid rgb(232, 222, 222);
  margin: 40px 0;
  color: rgb(173, 20, 20);
}
.blog-section .blog {
  width: 80%;
  height: auto;
  padding: 45px;
  margin-right: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: rgb(80, 72, 72);
  margin-bottom: 60px;
}
.blog-section .blog h2 {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 2em;
  font-weight: 400;
}
.blog-section .blog span {
  font-weight: 500;
  font-size: 19px;
}
.blog-section .blog span a {
  color: rgb(173, 20, 20);
}
.blog-section .blog p {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 44px;
}
.blog-section .blog a.readmore {
  background-color: rgb(173, 20, 20);
  color: #fff;
  padding: 10px 40px;
  font-size: 19px;
  font-weight: bold;
}

.blog-sidebar {
  width: 33%;
}
.blog-sidebar .sidebar-area {
  background-color: rgb(243, 243, 243);
  padding: 30px;
  margin-right: 7%;
  margin-bottom: 300px;
}
.blog-sidebar .sidebar-area h1 {
  font-size: 42px;
  font-weight: 100;
  font-family: "Playfair Display";
}
.blog-sidebar .sidebar-area .widget-area a {
  color: rgb(173, 20, 20);
  font-weight: bold;
  font-size: 21px;
  margin: 20px 0;
  display: block;
}
.blog-sidebar .sidebar-area .widget-area form.search-form {
  background: rgb(18, 18, 59);
  padding: 20px 0;
}
.blog-sidebar .sidebar-area .widget-area form.search-form label {
  padding: 20px 10px;
}
.blog-sidebar .sidebar-area .widget-area form.search-form label span {
  display: none;
}
.blog-sidebar .sidebar-area .widget-area form.search-form input[type=submit] {
  color: #fff;
}
.blog-sidebar .sidebar-area .widget-area form.search-form input {
  font-size: 20px;
  padding: 6px;
}
.blog-sidebar .sidebar-area .input-area {
  background-color: rgb(18, 18, 59);
  padding: 10px;
  display: flex;
}
.blog-sidebar .sidebar-area .input-area .icon {
  margin-left: 14px;
  background-color: transparent !important;
  color: #fff;
}
.blog-sidebar .sidebar-area .input-area input {
  border: none;
}
.blog-sidebar .sidebar-area h3 {
  margin: 25px 0;
  font-weight: normal;
  font-size: 28px;
}
.blog-sidebar .sidebar-area .tagcloud a {
  background-color: #fff;
  border: 1px solid #e7dbdb;
  padding: 7px 15px;
  font-size: 18px !important;
  display: inline-block;
  margin: 2px 0;
  color: #041127;
  font-weight: normal;
}
.blog-sidebar .sidebar-area .cd-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}
.blog-sidebar .sidebar-area .pi-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}

.single-blog-section {
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.single-blog-section .rotate-left {
  width: 66%;
}
.single-blog-section .rotate-left .blog-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-blog-section .rotate-left h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}
.single-blog-section .rotate-left .next-page {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.single-blog-section .rotate-left .next-page .current {
  background-color: #041127;
  padding: 10px 25px;
  border: 1px solid #fff;
  color: #fff;
  margin: 40px 0;
}
.single-blog-section .rotate-left .next-page a, .single-blog-section .rotate-left .next-page .dots {
  padding: 10px 25px;
  border: 1px solid rgb(232, 222, 222);
  margin: 40px 0;
  color: rgb(173, 20, 20);
}
.single-blog-section .blog {
  height: auto;
  padding: 45px;
  margin-right: 20px;
  color: rgb(80, 72, 72);
  margin-bottom: 60px;
}
.single-blog-section .blog-sidebar {
  width: 33%;
}
.single-blog-section .blog-sidebar .sidebar-area {
  background-color: rgb(243, 243, 243);
  padding: 30px;
  margin-right: 7%;
  margin-bottom: 300px;
}
.single-blog-section .blog-sidebar .sidebar-area h1 {
  font-size: 42px;
  font-weight: 100;
  font-family: "Playfair Display";
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area a {
  color: rgb(173, 20, 20);
  font-weight: bold;
  font-size: 21px;
  margin: 20px 0;
  display: block;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form {
  background: rgb(18, 18, 59);
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form label {
  padding: 20px 10px;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form label span {
  display: none;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form input[type=submit] {
  padding: 18px 19px;
  color: #fff;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form input {
  font-size: 20px;
  padding: 6px;
}
.single-blog-section .blog-sidebar .sidebar-area .input-area {
  background-color: rgb(18, 18, 59);
  padding: 10px;
  display: flex;
}
.single-blog-section .blog-sidebar .sidebar-area .input-area .icon {
  margin-left: 14px;
  background-color: transparent !important;
  color: #fff;
}
.single-blog-section .blog-sidebar .sidebar-area .input-area input {
  border: none;
}
.single-blog-section .blog-sidebar .sidebar-area h3 {
  margin: 25px 0;
  font-weight: normal;
  font-size: 28px;
}
.single-blog-section .blog-sidebar .sidebar-area .tagcloud a {
  background-color: #fff;
  border: 1px solid #e7dbdb;
  padding: 7px 15px;
  font-size: 18px !important;
  display: inline-block;
  margin: 2px 0;
  color: #041127;
  font-weight: normal;
}
.single-blog-section .blog-sidebar .sidebar-area .cd-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}
.single-blog-section .blog-sidebar .sidebar-area .pi-area a {
  padding: 5px 5px;
  font-size: 18px;
  display: block;
  margin: 2px 0;
  color: rgb(173, 20, 20);
  font-weight: bold;
}

.defence-banner-area {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 0;
  background-color: rgba(0, 26, 86, 0.64);
  background-size: cover;
  background-blend-mode: soft-light;
  height: 400px;
}
.defence-banner-area .defence-banner-content {
  padding-top: 0;
  color: #F7EDEE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.defence-banner-area .defence-banner-content .defence-banner-text {
  width: 80%;
  line-height: 39px;
}
.defence-banner-area .defence-banner-content .defence-banner-text h1 {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  padding: 33px 0;
}
.defence-banner-area .defence-banner-content .defence-banner-text h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 3rem;
}
.defence-banner-area .defence-banner-content .defence-banner-text p {
  font-weight: 100;
  font-size: 1.5rem;
  padding: 37px 0;
  color: #fff;
}
.defence-banner-area .defence-banner-content .defence-banner-text a {
  margin-bottom: 4rem;
  color: #f7eded;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  text-align: center;
  padding: 0.75rem;
  background-color: rgb(215, 6, 6);
  cursor: pointer;
  transition-duration: 0.3s;
}
.defence-banner-area .defence-banner-content .defence-banner-text a:hover {
  background-color: #3274c9;
}

.crime-charge-section {
  display: flex;
  align-content: center;
  justify-content: center;
}
.crime-charge-section .case-area {
  width: 90%;
  padding: 26px 0;
}
.crime-charge-section .case-area .charges-heading h3 {
  text-transform: uppercase;
  width: 300px;
  background-color: #041127;
  margin: 50px auto;
  padding: 10px;
  color: #f7eded;
  border-radius: 40px;
  font-weight: 300;
  text-align: center;
}
.crime-charge-section .case-area .charge-boxes .charge {
  margin: 0.5rem;
  align-content: center;
}
.crime-charge-section .case-area .charge-boxes .charge img {
  max-height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #3274c9;
}

.califoria-criminal-defence {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}
.califoria-criminal-defence .left-area {
  width: 55%;
}
.califoria-criminal-defence .left-area .lawyers a {
  color: #c50e0e;
  font-size: 20px;
}
.califoria-criminal-defence .left-area .lawyers a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .lawyers span {
  font-size: 20px;
  color: #495f82;
}
.califoria-criminal-defence .left-area .lawyers h2 {
  padding-top: 42px;
  font-size: 51px;
  font-weight: normal;
}
.califoria-criminal-defence .left-area .lawyers .devider {
  margin: 0.25rem 0;
  padding: 2rem 0;
}
.califoria-criminal-defence .left-area .lawyers .devider hr {
  border-top: 3px solid #180b0b;
  border-radius: 0.25rem;
  width: 29.333333%;
}
.califoria-criminal-defence .left-area .lawyers h3 {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 25px;
}
.califoria-criminal-defence .left-area .lawyers p {
  padding: 10px 0;
  line-height: 34px;
  font-size: 18px;
  color: #495f82;
}
.califoria-criminal-defence .left-area .contents {
  border: 1px solid black;
  padding-top: 20px;
  margin-right: 33%;
  background: #f7f7f7;
}
.califoria-criminal-defence .left-area .contents span {
  font-size: 25px;
  padding-left: 10px;
}
.califoria-criminal-defence .left-area .contents span a {
  font-size: 16px;
}
.califoria-criminal-defence .left-area .contents span a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .contents a {
  color: #c50e0e;
}
.califoria-criminal-defence .left-area .contents .order-list {
  padding-left: 43px;
}
.califoria-criminal-defence .left-area .contents .order-list li::before {
  content: counter(ol);
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  list-style-type: decimal;
}
.califoria-criminal-defence .left-area .contents .order-list a {
  color: #c50e0e;
  font-size: 21px;
  font-weight: 100;
}
.califoria-criminal-defence .left-area .contents .order-list a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area p {
  font-size: 18px;
  padding: 22px 0;
  color: #495f82;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #031a3e;
  padding: 21px 0;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p {
  font-size: 18px;
  padding: 22px 0;
  color: #495f82;
  line-height: 2.25rem;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p a {
  color: #c50e0e;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers p a:hover {
  color: #3274c9;
}
.califoria-criminal-defence .left-area .alcohol-crime-lawyers .alcohol-catagory {
  list-style-type: disc;
  padding-left: 38px;
  line-height: 2.25rem;
  color: #495f82;
  font-size: 18px;
}
.califoria-criminal-defence .right-area {
  width: 23%;
  margin-left: 25px;
}
.califoria-criminal-defence .right-area .form-section {
  background-color: #031a3e;
  padding: 26px;
  color: #fff;
}
.califoria-criminal-defence .right-area .form-section img {
  width: 39%;
  height: auto;
  border-radius: 50%;
  margin-left: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.califoria-criminal-defence .right-area .form-section .form {
  display: flex;
  flex-direction: column;
}
.califoria-criminal-defence .right-area .form-section .form input {
  padding: 10px 10px;
  margin: 6px 0;
  color: #0f0e0e;
}

.free-coun {
  text-align: center;
  margin: 83px 0;
  color: #fff;
  font-size: 18px;
}
.free-coun a {
  background-color: #c50e0e;
  padding: 20px;
  text-transform: capitalize;
  transition-duration: 0.3s;
}
.free-coun a span {
  text-transform: uppercase;
}
.free-coun a:hover {
  background-color: #3274c9;
}

.courts-section {
  padding: 71px;
  text-align: center;
  background-color: rgb(241, 245, 249);
}

.member-contact-info {
  display: flex;
  background-color: #e8eff9;
  width: 100%;
  justify-content: center;
  margin: 35px 0;
  gap: 40px;
}
.member-contact-info .image {
  width: 30%;
  padding-left: 40px;
}
.member-contact-info .image img {
  -o-object-fit: fill;
     object-fit: fill;
}
.member-contact-info .info {
  width: 60%;
  align-content: center;
}
.member-contact-info .info h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #041127;
  line-height: 55px;
}
.member-contact-info .info h2 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 51px;
}
.member-contact-info .info ul {
  display: flex;
  font-size: 1.25rem;
  flex-wrap: wrap;
}
.member-contact-info .info ul li {
  padding-right: 15px;
}
.member-contact-info .info ul li a {
  color: #c50e0e;
}
.member-contact-info .info ul li a:hover {
  color: #3274c9;
}
.member-contact-info .info ul li a:after {
  content: "|";
  padding: 0 0.5rem;
  color: rgb(80, 72, 72);
}
.member-contact-info .info ul li a:last-child:after {
  content: "";
}

.content {
  width: 100%;
}
.content .text {
  width: 80%;
  margin-left: 7%;
}
.content .text a {
  color: #c50e0e;
  font-size: 1.25rem;
}
.content .text a:hover {
  color: #3274c9;
}
.content .text p {
  color: rgb(80, 72, 72);
  font-size: 1.25rem;
  line-height: 36px;
  padding: 13px 0;
}
.content .text p span {
  color: #031a3e;
}
.content .text h2 {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 28px 0;
  color: #041127;
}
.content .text h3 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #041127;
}
.content .text ul {
  padding-left: 40px;
}
.content .text ul li {
  list-style-type: disc;
  line-height: 40px;
  font-size: 1.25rem;
  color: rgb(80, 72, 72);
}
.content .text .click {
  text-align: center;
}
.content .text .click a {
  color: #c50e0e;
  font-size: 1.25rem;
  margin-bottom: 69px;
  display: block;
  text-transform: uppercase;
}

.court-area {
  height: 200px;
  width: 100%;
  background-color: rgb(241, 245, 249);
  text-align: center;
  align-content: center;
}
.court-area .court-serve {
  width: 80%;
  margin-left: 7%;
}
.court-area .court-serve .court-heading {
  padding: 10px;
}
.court-area .court-serve .court-heading h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: #031a3e;
}
.court-area .court-serve .courts {
  padding-top: 10px;
}
.court-area .court-serve .courts a {
  font-size: 1rem;
  color: #031a3e;
}/*# sourceMappingURL=blog.css.map */