@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Lato", sans-serif;
  --h1-large: 50px;
  --h1-size: 34px;
  --h2-size: 30px;
  --h3-size: 24px;
  --h4-size: 22px;
  --p-medium-size: 20px;
  --p-size: 18px;
  --p-small: 14px;
  --btn-text-size: 20px;
  /* color */
  --body-text-color: #061b3e;
  --btn-primary-bg: #a00402;
  --btn-primary-hover-bg: #3274c9;
  --btn-secondary-bg: #3274c9;
  --btn-secondary-hover-bg: #0f5cbf;
  --dark-bg: #041127;
  --white: #ffffff;
  --white-dark:#f4f7f9;
  --panel-title: #1c65c3;
  --span-color: #132642;
  --seconday-text-color:#103058;
}

.blog-section {
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.blog-section .rotate-left {
  width: 66%;
}
.blog-section .rotate-left .blog-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-section .rotate-left h1 {
  font-size: var(--h1-large);
  margin-left: 17%;
  font-weight: 400;
  font-family: var(--heading-font-family);
}
.blog-section .rotate-left .next-page {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.blog-section .rotate-left .next-page .current {
  background-color: var(--dark-bg);
  padding: 10px 25px;
  border: 1px solid var(--white);
  color: var(--white);
  margin: 40px 0;
}
.blog-section .rotate-left .next-page a, .blog-section .rotate-left .next-page .dots {
  padding: 10px 25px;
  border: 1px solid var(--white);
  margin: 40px 0;
  color: var(--btn-primary-bg);
}
.blog-section .blog {
  width: 80%;
  height: auto;
  padding: 45px;
  margin-right: 20px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: var(--dark-bg);
  margin-bottom: 60px;
}
.blog-section .blog h2 {
  margin-left: 0;
  font-family: "Playfair Display";
  font-size: 2em;
  font-weight: 400;
}
.blog-section .blog span {
  font-weight: 500;
  font-size: var(--p-size);
}
.blog-section .blog span a {
  color: var(--btn-primary-bg);
}
.blog-section .blog p {
  font-weight: 500;
  font-size: var(--p-size);
  padding-bottom: 44px;
}
.blog-section .blog a.readmore {
  background-color: var(--btn-primary-bg);
  color: var(--white);
  padding: 10px 40px;
  font-size: var(--p-medium-size);
  font-weight: bold;
}

.blog-sidebar {
  width: 33%;
}
.blog-sidebar .sidebar-area {
  background-color: rgb(243, 243, 243);
  padding: 30px;
  margin-right: 7%;
  margin-bottom: 300px;
}
.blog-sidebar .sidebar-area h1 {
  font-size: var(--h1-large);
  font-weight: 100;
  font-family: "Playfair Display";
}
.blog-sidebar .sidebar-area .widget-area a {
  color: var(--btn-primary-bg);
  font-weight: bold;
  font-size: var(--p-medium-size);
  margin: 20px 0;
  display: block;
}
.blog-sidebar .sidebar-area .widget-area form.search-form {
  background: rgb(18, 18, 59);
  padding: 20px 0;
}
.blog-sidebar .sidebar-area .widget-area form.search-form label {
  padding: 20px 10px;
}
.blog-sidebar .sidebar-area .widget-area form.search-form label span {
  display: none;
}
.blog-sidebar .sidebar-area .widget-area form.search-form input[type=submit] {
  color: var(--white);
}
.blog-sidebar .sidebar-area .widget-area form.search-form input {
  font-size: var(--p-medium-size);
  padding: 6px;
}
.blog-sidebar .sidebar-area .input-area {
  background-color: rgb(18, 18, 59);
  padding: 10px;
  display: flex;
}
.blog-sidebar .sidebar-area .input-area .icon {
  margin-left: 14px;
  background-color: transparent !important;
  color: var(--white);
}
.blog-sidebar .sidebar-area .input-area input {
  border: none;
}
.blog-sidebar .sidebar-area h3 {
  margin: 25px 0;
  font-weight: normal;
  font-size: var(--h2-size);
}
.blog-sidebar .sidebar-area .tagcloud a {
  background-color: var(--white);
  border: 1px solid var(--white);
  padding: 7px 15px;
  font-size: var(--h2-size) !important;
  display: inline-block;
  margin: 2px 0;
  color: var(--dark-bg);
  font-weight: normal;
}
.blog-sidebar .sidebar-area .cd-area a {
  padding: 5px 5px;
  font-size: var(--h2-size);
  display: block;
  margin: 2px 0;
  color: var(--btn-primary-bg);
  font-weight: bold;
}
.blog-sidebar .sidebar-area .pi-area a {
  padding: 5px 5px;
  font-size: var(--h2-size);
  display: block;
  margin: 2px 0;
  color: var(--btn-primary-bg);
  font-weight: bold;
}

.single-blog-section {
  width: 100%;
  margin-top: 32px;
  display: flex;
}
.single-blog-section .rotate-left {
  width: 66%;
}
.single-blog-section .rotate-left .blog-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-blog-section .rotate-left h1 {
  font-size: var(--h1-large);
  font-weight: 400;
  font-family: var(--heading-font-family);
}
.single-blog-section .rotate-left .next-page {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.single-blog-section .rotate-left .next-page .current {
  background-color: var(--dark-bg);
  padding: 10px 25px;
  border: 1px solid var(--white);
  color: var(--white);
  margin: 40px 0;
}
.single-blog-section .rotate-left .next-page a, .single-blog-section .rotate-left .next-page .dots {
  padding: 10px 25px;
  border: 1px solid var(--white-dark);
  margin: 40px 0;
  color: var(--btn-primary-bg);
}
.single-blog-section .blog {
  height: auto;
  padding: 45px;
  margin-right: 20px;
  color: var(--dark-bg);
  margin-bottom: 60px;
}
.single-blog-section .blog-sidebar {
  width: 33%;
}
.single-blog-section .blog-sidebar .sidebar-area {
  background-color: var(--white-dark);
  padding: 30px;
  margin-right: 7%;
  margin-bottom: 300px;
}
.single-blog-section .blog-sidebar .sidebar-area h1 {
  font-size: var(--h1-size);
  font-weight: 100;
  font-family: var(--heading-font-family);
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area a {
  color: var(--btn-primary-bg);
  font-weight: bold;
  font-size: var(--h4-size);
  margin: 20px 0;
  display: block;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form {
  background: var(--body-text-color);
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form label {
  padding: 20px 10px;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form label span {
  display: none;
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form input[type=submit] {
  padding: 18px 19px;
  color: var(--white);
}
.single-blog-section .blog-sidebar .sidebar-area .widget-area form.search-form input {
  font-size: var(--btn-text-size);
  padding: 6px;
}
.single-blog-section .blog-sidebar .sidebar-area .input-area {
  background-color: var(--body-text-color);
  padding: 10px;
  display: flex;
}
.single-blog-section .blog-sidebar .sidebar-area .input-area .icon {
  margin-left: 14px;
  background-color: transparent !important;
  color: var(--white);
}
.single-blog-section .blog-sidebar .sidebar-area .input-area input {
  border: none;
}
.single-blog-section .blog-sidebar .sidebar-area h3 {
  margin: 25px 0;
  font-weight: normal;
  font-size: var(--h2-size);
}
.single-blog-section .blog-sidebar .sidebar-area .tagcloud a {
  background-color: var(--white);
  border: 1px solid var(--white);
  padding: 7px 15px;
  font-size: var(--p-size) !important;
  display: inline-block;
  margin: 2px 0;
  color: var(--dark-bg);
  font-weight: normal;
}
.single-blog-section .blog-sidebar .sidebar-area .cd-area a {
  padding: 5px 5px;
  font-size: var(--h2-size);
  display: block;
  margin: 2px 0;
  color: var(--btn-primary-bg);
  font-weight: bold;
}
.single-blog-section .blog-sidebar .sidebar-area .pi-area a {
  padding: 5px 5px;
  font-size: var(--p-size);
  display: block;
  margin: 2px 0;
  color: var(--btn-primary-bg);
  font-weight: bold;
}

.defence-banner-area {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 0;
  background-color: var(--dark-bg);
  background-size: cover;
  background-blend-mode: soft-light;
  height: 400px;
}
.defence-banner-area .defence-banner-content {
  padding-top: 0;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.defence-banner-area .defence-banner-content .defence-banner-text {
  width: 80%;
  line-height: 39px;
}
.defence-banner-area .defence-banner-content .defence-banner-text h1 {
  font-weight: 100;
  font-size: 1.5rem;
  font-style: italic;
  padding: 33px 0;
}
.defence-banner-area .defence-banner-content .defence-banner-text h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 3rem;
}
.defence-banner-area .defence-banner-content .defence-banner-text p {
  font-weight: 100;
  font-size: 1.5rem;
  padding: 37px 0;
  color: var(--white);
}
.defence-banner-area .defence-banner-content .defence-banner-text a {
  margin-bottom: 4rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  text-align: center;
  padding: 0.75rem;
  background-color: var(--btn-primary-bg);
  cursor: pointer;
  transition-duration: 0.3s;
}
.defence-banner-area .defence-banner-content .defence-banner-text a:hover {
  background-color: var(--btn-primary-hover-bg);
}

.crime-charge-section {
  display: flex;
  align-content: center;
  justify-content: center;
}
.crime-charge-section .container .charges-heading h3 {
  text-transform: uppercase;
  width: 300px;
  background-color: var(--dark-bg);
  margin: 50px auto;
  padding: 10px;
  color: var(--white);
  border-radius: 40px;
  font-weight: 300;
  text-align: center;
}
.crime-charge-section .container .charge-boxes .charge {
  margin: 0.5rem;
  align-content: center;
}
.crime-charge-section .container .charge-boxes .charge img {
  max-height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  background: var(--btn-primary-hover-bg);
}

.califoria-criminal-defence .row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}
.califoria-criminal-defence .row .left-area {
  width: 55%;
}
.califoria-criminal-defence .row .left-area .lawyers a {
  color: var(--btn-primary-bg);
  font-size: var(--p-medium-size);
}
.califoria-criminal-defence .row .left-area .lawyers a:hover {
  color: var(--btn-primary-hover-bg);
}
.califoria-criminal-defence .row .left-area .lawyers span {
  font-size: var(--p-medium-size);
  color: var(--span-color);
}
.califoria-criminal-defence .row .left-area .lawyers h2 {
  padding-top: 42px;
  font-size: var(--h1-large);
  font-weight: normal;
}
.califoria-criminal-defence .row .left-area .lawyers .devider {
  margin: 0.25rem 0;
  padding: 2rem 0;
}
.califoria-criminal-defence .row .left-area .lawyers .devider hr {
  border-top: 3px solid var(--dark-bg);
  border-radius: 0.25rem;
  width: 29.333333%;
}
.califoria-criminal-defence .row .left-area .lawyers h3 {
  font-size: var(--h1-size);
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 25px;
}
.califoria-criminal-defence .row .left-area .lawyers p {
  padding: 10px 0;
  line-height: 34px;
  font-size: var(--p-size);
  color: var(--seconday-text-color);
}
.califoria-criminal-defence .row .left-area .contents {
  border: 1px solid var(--dark-bg);
  padding-top: 20px;
  margin-right: 33%;
  background: var(--white);
}
.califoria-criminal-defence .row .left-area .contents span {
  font-size: var(--h3-size);
  padding-left: 10px;
}
.califoria-criminal-defence .row .left-area .contents span a {
  font-size: var(--p-size);
}
.califoria-criminal-defence .row .left-area .contents span a:hover {
  color: var(--btn-primary-hover-bg);
}
.califoria-criminal-defence .row .left-area .contents a {
  color: var(--btn-primary-bg);
}
.califoria-criminal-defence .row .left-area .contents .order-list {
  padding-left: 43px;
}
.califoria-criminal-defence .row .left-area .contents .order-list li::before {
  content: counter(ol);
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  list-style-type: decimal;
}
.califoria-criminal-defence .row .left-area .contents .order-list a {
  color: var(--btn-primary-bg);
  font-size: var(--h4-size);
  font-weight: 100;
}
.califoria-criminal-defence .row .left-area .contents .order-list a:hover {
  color: var(--btn-primary-hover-bg);
}
.califoria-criminal-defence .row .left-area p {
  font-size: var(--p-size);
  padding: 22px 0;
  color: var(--btn-secondary-bg);
}
.califoria-criminal-defence .row .left-area .alcohol-crime-lawyers h3 {
  font-size: var(--h2-size);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--body-text-color);
  padding: 21px 0;
}
.califoria-criminal-defence .row .left-area .alcohol-crime-lawyers p {
  font-size: var(--p-size);
  padding: 22px 0;
  color: var(--btn-secondary-bg);
  line-height: 2.25rem;
}
.califoria-criminal-defence .row .left-area .alcohol-crime-lawyers p a {
  color: var(--btn-primary-bg);
}
.califoria-criminal-defence .row .left-area .alcohol-crime-lawyers p a:hover {
  color: var(--btn-primary-hover-bg);
}
.califoria-criminal-defence .row .left-area .alcohol-crime-lawyers .alcohol-catagory {
  list-style-type: disc;
  padding-left: 38px;
  line-height: 2.25rem;
  color: var(--btn-secondary-bg);
  font-size: var(--p-size);
}
.califoria-criminal-defence .row .right-area {
  width: 23%;
  margin-left: 25px;
}
.califoria-criminal-defence .row .right-area .form-section {
  background-color: var(--body-text-color);
  padding: 26px;
  color: var(--white);
}
.califoria-criminal-defence .row .right-area .form-section img {
  width: 39%;
  height: auto;
  border-radius: 50%;
  margin-left: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}
.califoria-criminal-defence .row .right-area .form-section .form {
  display: flex;
  flex-direction: column;
}
.califoria-criminal-defence .row .right-area .form-section .form input {
  padding: 10px 10px;
  margin: 6px 0;
  color: var(--dark-bg);
}

.full-width-section {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
}
.full-width-section .full-container {
  width: 90%;
}
.full-width-section .full-container .lawyers a {
  color: var(--btn-primary-bg);
  font-size: var(--p-medium-size);
}
.full-width-section .full-container .lawyers a:hover {
  color: var(--btn-primary-hover-bg);
}
.full-width-section .full-container .lawyers span {
  font-size: var(--p-medium-size);
  color: var(--btn-secondary-bg);
}
.full-width-section .full-container .lawyers h2 {
  padding-top: 42px;
  font-size: var(--h1-large);
  font-weight: normal;
}
.full-width-section .full-container .lawyers .devider {
  margin: 0.25rem 0;
  padding: 2rem 0;
}
.full-width-section .full-container .lawyers .devider hr {
  border-top: 3px solid var(--dark-bg);
  border-radius: 0.25rem;
  width: 29.333333%;
}
.full-width-section .full-container .lawyers h3 {
  font-size: var(--h1-size);
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 25px;
}
.full-width-section .full-container .lawyers p {
  padding: 10px 0;
  line-height: 34px;
  font-size: var(--p-size);
  color: var(--seconday-text-color);
}
.full-width-section .full-container .contents {
  border: 1px solid black;
  padding-top: 20px;
  margin-right: 33%;
  background: var(--white);
}
.full-width-section .full-container .contents span {
  font-size: var(--h3-size);
  padding-left: 10px;
}
.full-width-section .full-container .contents span a {
  font-size: var(--p-size);
}
.full-width-section .full-container .contents span a:hover {
  color: var(--btn-primary-hover-bg);
}
.full-width-section .full-container .contents a {
  color: var(--btn-primary-bg);
}
.full-width-section .full-container .contents .order-list {
  padding-left: 43px;
}
.full-width-section .full-container .contents .order-list li::before {
  content: counter(ol);
  color: var(--btn-primary-bg);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  list-style-type: decimal;
}
.full-width-section .full-container .contents .order-list a {
  color: var(--btn-primary-bg);
  font-size: var(--h4-size);
  font-weight: 100;
}
.full-width-section .full-container .contents .order-list a:hover {
  color: var(--btn-primary-hover-bg);
}
.full-width-section .full-container p {
  font-size: var(--p-size);
  padding: 22px 0;
  color: var(--btn-secondary-bg);
}
.full-width-section .full-container .alcohol-crime-lawyers h3 {
  font-size: var(--h2-size);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--btn-primary-bg);
  padding: 21px 0;
}
.full-width-section .full-container .alcohol-crime-lawyers p {
  font-size: var(--p-size);
  padding: 22px 0;
  color: var(--btn-secondary-bg);
  line-height: 2.25rem;
}
.full-width-section .full-container .alcohol-crime-lawyers p a {
  color: var(--btn-primary-bg);
}
.full-width-section .full-container .alcohol-crime-lawyers p a:hover {
  color: var(--btn-primary-hover-bg);
}
.full-width-section .full-container .alcohol-crime-lawyers .alcohol-catagory {
  list-style-type: disc;
  padding-left: 38px;
  line-height: 2.25rem;
  color: var(--btn-secondary-bg);
  font-size: var(--p-size);
}

.free-coun {
  text-align: center;
  margin: 83px 0;
  color: var(--white);
  font-size: var(--p-size);
}
.free-coun a {
  background-color: var(--btn-primary-bg);
  padding: 20px;
  text-transform: capitalize;
  transition-duration: 0.3s;
}
.free-coun a span {
  text-transform: uppercase;
}
.free-coun a:hover {
  background-color: var(--btn-primary-hover-bg);
}

.courts-section {
  padding: 71px;
  text-align: center;
  background-color: var(--white-dark);
}
.courts-section h3 {
  font-size: var(--h3-size);
  font-family: var(--body-font-family);
}
.courts-section .courts a {
  color: var(--btn-primary-bg);
}
.courts-section .courts a:hover {
  color: var(--btn-primary-hover-bg);
}

.member-contact-info .row {
  display: flex;
  background-color: var(--white);
  width: 100%;
  justify-content: center;
  margin: 35px 0;
  gap: 40px;
}
.member-contact-info .row .image {
  width: 30%;
  padding-left: 40px;
}
.member-contact-info .row .image img {
  -o-object-fit: fill;
     object-fit: fill;
}
.member-contact-info .row .info {
  width: 60%;
  align-content: center;
}
.member-contact-info .row .info h1 {
  font-size: 3rem;
  font-weight: normal;
  color: var(--dark-bg);
  line-height: 55px;
}
.member-contact-info .row .info h2 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 51px;
}
.member-contact-info .row .info ul {
  display: flex;
  font-size: 1.25rem;
  flex-wrap: wrap;
}
.member-contact-info .row .info ul li {
  padding-right: 15px;
}
.member-contact-info .row .info ul li:last-child a:after {
  content: " " !important;
}
.member-contact-info .row .info ul li a {
  color: var(--btn-primary-bg);
}
.member-contact-info .row .info ul li a:hover {
  color: var(--btn-primary-hover-bg);
}
.member-contact-info .row .info ul li a:after {
  content: "•" !important;
  margin-left: 12px;
  color: var(--dark-bg);
}

.content {
  width: 100%;
}
.content .text {
  width: 80%;
  margin-left: 7%;
}
.content .text a {
  color: var(--btn-primary-bg);
  font-size: 1.25rem;
}
.content .text a:hover {
  color: var(--btn-primary-hover-bg);
}
.content .text p {
  color: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 36px;
  padding: 13px 0;
}
.content .text p span {
  color: var(--body-text-color);
}
.content .text h2 {
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: uppercase;
  padding: 28px 0;
  color: var(--dark-bg);
}
.content .text h3 {
  font-size: 1.75rem;
  font-weight: normal;
  color: var(--dark-bg);
}
.content .text ul {
  padding-left: 40px;
}
.content .text ul li {
  list-style-type: disc;
  line-height: 40px;
  font-size: 1.25rem;
  color: var(--dark-bg);
}
.content .text .click {
  text-align: center;
}
.content .text .click a {
  color: var(--btn-primary-bg);
  font-size: 1.25rem;
  margin-bottom: 69px;
  display: block;
  text-transform: uppercase;
}

.court-area {
  height: 200px;
  width: 100%;
  background-color: var(--white);
  text-align: center;
  align-content: center;
}
.court-area .court-serve {
  width: 80%;
  margin-left: 7%;
}
.court-area .court-serve .court-heading {
  padding: 10px;
}
.court-area .court-serve .court-heading h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: var(--body-text-color);
}
.court-area .court-serve .courts {
  padding-top: 10px;
}
.court-area .court-serve .courts a {
  font-size: 1rem;
  color: var(--body-text-color);
}

.introduce {
  margin-top: 40px;
}
.introduce h1 {
  font-size: 3rem;
  font-weight: normal;
  color: var(--dark-bg);
  text-transform: capitalize;
  text-align: center;
}
.introduce .devider {
  display: flex;
  margin-top: 1.25rem;
  justify-content: center;
}
.introduce .devider hr {
  border-top: 3px solid var(--dark-bg);
  border-radius: 0.25rem;
  width: 23.333333%;
}

.attorny-profile-lite {
  background-color: var(--white);
}

.attorny-profile-info {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  gap: 40px;
  padding: 0px 42px;
}
.attorny-profile-info .image {
  width: 30%;
  align-items: center;
  display: flex;
  padding: 29px;
}
.attorny-profile-info .image img {
  width: 100%;
  height: auto;
}
.attorny-profile-info .info {
  width: 60%;
  padding-top: 76px;
}
.attorny-profile-info .info h2 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--dark-bg);
  line-height: 55px;
}
.attorny-profile-info .info span {
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 51px;
  color: var(--btn-primary-bg);
}
.attorny-profile-info .info p {
  font-size: 1.25rem;
  font-weight: 100;
  padding: 24px 0;
  line-height: 39px;
  color: var(--dark-bg);
}
.attorny-profile-info .info a {
  font-size: 1.25rem;
  color: var(--btn-primary-bg);
  text-transform: uppercase;
}
.attorny-profile-info .info a:hover {
  color: var(--btn-primary-hover-bg);
}

.ready-team {
  height: 200px;
  width: 100%;
  text-align: center;
  align-content: center;
}
.ready-team .court-serve {
  width: 80%;
  margin-left: 7%;
  padding-bottom: 22px;
}
.ready-team .court-serve h3 {
  font-weight: 200;
  font-size: 1.5rem;
  color: var(--body-text-color);
}
.ready-team .court-serve .call {
  padding-top: 10px;
}
.ready-team .court-serve .call span {
  font-size: 1.75rem;
  color: var(--body-text-color);
  text-transform: capitalize;
}
.ready-team .court-serve .call a {
  font-size: 1.75rem;
  color: var(--btn-primary-bg);
}
.ready-team .court-serve .call a:hover {
  color: var(--btn-primary-hover-bg);
}/*# sourceMappingURL=blog.css.map */