// Attribute area
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
	--heading-font-family: "Playfair Display", serif;
	--body-font-family: "Lato", sans-serif;

	--h1-large: 50px;
	--h1-size: 34px; 
	--h2-size: 30px; 
	--h3-size: 24px; 
	--h4-size: 22px; 
	--p-medium-size: 20px; 
	--p-size: 18px; 
	--p-small: 14px; 
	--btn-text-size: 20px; 
	
	/* color */
	--body-text-color: #061b3e; 
	--btn-primary-bg: #a00402; 
	--btn-primary-hover-bg: #3274c9; 
	--btn-secondary-bg: #3274c9; 
	--btn-secondary-hover-bg: #0f5cbf; 
	--dark-bg: #041127; 
	--white: #ffffff;
    --white-dark:#f4f7f9
    --panel-title: #1c65c3;
    --span-color: #132642;
    --body-seconday-text-color: #103058;
}


// header style

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font-family);
    font-size: var(--p-medium-size);
    font-weight: 400;
}

.contact-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    a.btn-primary{
        margin-bottom: 4rem;
        color: var(--white);
        font-weight: 700;
        font-size: var(--h4-size);
        line-height: 1.75rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        text-align: center;
        padding: 16px 35px;
        background-color: var(--btn-primary-bg);
        cursor: pointer;
        transition-duration: 0.3s;
        font-family: var(--body-font-family);
        &:hover{
            background-color: var(--btn-primary-hover-bg);
        }
    }
} 


.btn-group{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    text-align: center;
    // margin: 0 9rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--white);

    .btn-secondary {
        margin: 5px 15px;
        padding: 1.25rem;
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.27);
        background-color: var(--btn-secondary-bg);
        &:hover{
            background-color: var(--btn-secondary-hover-bg);
        }
    }
}

header {
    nav {
        padding: 1.5rem;
        background-color: var(--dark-bg);

        .header-area {
            margin: auto;
            // padding-left: 2rem;
            // padding-right: 2rem;

            .header-middle {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-last-area {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    left: 0;
                    top: 0;
                    bottom: 0;

                    .toogle-button {
                        display: none;

                        #navbarSupportedContent {
                            justify-content: end;
                            -webkit-justify-content: flex-end;
                            -moz-justify-content: flex-end;
                            -ms-justify-content: flex-end;
                            justify-content: flex-end;
                        }

                        #toggle.on+#menu {
                            opacity: 1;
                            visibility: visible;
                        }

                        #toggle {
                            display: block;
                            width: 40px;
                            height: 30px;
                            margin: 30px auto 10px;

                            &.on {
                                span {
                                    background-color: transparent;

                                    &:before {
                                        transform: rotate(45deg) translate(5px, 5px);
                                    }

                                    &:after {
                                        transform: rotate(-45deg) translate(7px, -8px);
                                    }
                                }
                            }

                            span {
                                position: relative;
                                display: block;

                                width: 100%;
                                height: 5px;
                                background-color: var(--white);
                                transition: all 0.3s;
                                backface-visibility: hidden;
                                border-radius: 2px;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: -9px;
                                    width: 100%;
                                    height: 5px;
                                    background-color: var(--white);
                                    transition: all 0.3s;
                                    backface-visibility: hidden;
                                    border-radius: 2px;
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 9px;
                                    width: 100%;
                                    height: 5px;
                                    background-color: var(--white);
                                    transition: all 0.3s;
                                    backface-visibility: hidden;
                                    border-radius: 2px;
                                }
                            }
                        }
                    }
                }

                .header-pre-last-area {
                    display: flex;
                    flex: 1 1 0%;
                    justify-content: center;
                    align-items: center;

                    .header-child-area {
                        display: flex;
                        flex: 1 1 0%;
                        align-items: center;
                        flex-wrap: nowrap;

                        .header-first-child-area {
                            display: flex;
                            flex-shrink: 0;
                            align-items: center;

                            img {
                                height: 3rem;
                                width: auto;
                            }
                        }

                        .header-second-child-area {
                            display: flex;

                            .header-third-child-area-1 {
                                display: flex;
                                padding-bottom: 1rem;
                                justify-content: flex-end;
                                align-items: center;
                                color: var(--white);

                                p {
                                    font-weight: 700;
                                }

                                .fa-phone-volume {
                                    padding: 0 8px;
                                }

                                a {
                                    font-size: 1.5rem;
                                    line-height: 2rem;
                                }
                            }

                            .main-menu {
                                display: flex;
                                text-transform: uppercase;
                                color: var(--white);
                                li{
                                    position: relative;
                                     .sub-menu {
                                        display: none;
                                        background: var(--dark-bg);
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        width: 276px;
                                        li{
                                          a{
                                            display: block;
                                            &:hover{
                                                background-color:var(--white);
                                                color: var(--btn-primary-bg);
                                            }
                                          }  
                                        }
                                        .sub-menu{
                                            top: 0;
                                            right: 100%;
                                            left: inherit
                                        }
                                    }
                                    a {
                                        font-weight: 500;
                                        font-size: 0.875rem;
                                        line-height: 1.25rem;
                                        padding-top: 0.5rem;
                                        padding-bottom: 0.5rem;
                                        padding-left: 0.75rem;
                                        padding-right: 0.75rem;
                                        text-decoration: inherit;    
                                        &:hover {
                                            color: var(--btn-primary-bg);
                                        }
    
                                    }

                                    &:hover > ul.sub-menu{
                                        display: block;
                                    }
                                }

                               
                            }

                        }
                    }
                }


            }

            .mobile-menu {
                display: none;

                .sub-mobile-menu {
                    padding-top: 0.5rem;
                    padding-bottom: 0.75rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;

                    a {
                        background-color: var(--dark-bg);
                        color: var(--white);
                        display: block;
                        border-radius: 0.375rem;
                        text-decoration: inherit;
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        padding: 0.5rem 0.75rem;

                    }
                }

            }
        }
    }

    .page-heading {
        a {
            padding: 1rem 0;
            background-color: var(--btn-primary-bg);
            color: var(--white);
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.75rem;
            text-decoration: inherit;
            text-align: center;
            display: block;
            &:hover {
                background-color: var(--dark-bg);
                cursor: pointer;
            }
        }
    }
}

.banner-area {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5rem 0;
    background-size: cover;
    .banner-content {
        padding-top: 7rem;
        color: var(--white);
        display: flex;
        .banner-text {
            width: 45%;

            h1 {
                font-size: var(--h1-large);
                font-family: var(--heading-font-family);
                line-height: 1.2;
                padding-bottom: 1rem;
                font-weight: 400;
            }

            p {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 2rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

        }
    }
}

.featured-section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .logo-area{
        display: flex;
        flex-direction: row;
        align-items: center;
        .sub-company {
            flex-basis: 25%;
            padding: 2.25rem;
    
            p {
                display: flex;
                justify-content: center;
                font-weight: bold;
                margin-top: 0.5rem;
                font-size: 1.5rem;
                line-height: 2rem;
                color: var(--body-text-color);
            }
        }
    
        .logo {
            display: flex;
            justify-content: center;
            padding: 2.25rem;
        }
    }

}


.media-section {
    padding: 50px 0;
    width: 95%;
    margin: auto;

    .media-heading {
        text-align: center;

        h2 {
            text-transform: uppercase;
            width: 300px;
            background-color: var(--dark-bg);
            margin: 50px auto;
            padding: 10px;
            color: var(--white);
            border-radius: 40px;
            font-weight: 300;
        }

    }
}

.awards-section {
    background-color: var(--dark-bg);
    margin-top: 2.5rem;

    .awards-heading {
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        h2 {
            color: var(--white);
            font-size: 1.875rem;
            line-height: 2.25rem;
            margin-top: 2.25rem;
            text-align: center;
        }
    }

    .awards {
        display: flex;
        flex-direction: row;
        margin-inline-start: 1.5rem;

        .awards-logo {
            display: flex;
            flex-basis: 25%;
            justify-content: center;
            padding: 2.25rem;
        }
    }
}

.middle-content {
    .injury-area {
        margin-top: 3rem;

        h2 {
            font-size: var(--h1-large);
            line-height: 1.2;
            color: var(--dark-bg);
            font-family: var(--body-font-family);
            text-align: center;
            font-weight: 500;
        }

        .devider {
            display: flex;
            justify-content: center;
            margin-top: 1.25rem;
            padding: 2rem 0;

            hr {
                border-top: 4px solid var(--dark-bg);
                border-radius: 0.25rem;
                width: 33.333333%;
            }
        }

        .injury-header {
            h3 {
                font-size: var(--h2-size);
                font-family: var(--body-font-family);
                line-height: 3rem;
                padding: 2rem 0;
                font-weight: 400;
                text-align: center;
                color: var(--dark-bg);
            }
        }

        .injury-conent {
            margin: 0 2rem;

            p {
                font-size: 1.125rem;
                line-height: 1.75rem;
                text-align: start;
            }
        }

    }

    .attorneys-section {
        .attorney-header {
            text-align: center;
            padding: 40px 0;
            h2{
                color: var(--dark-bg);
                font-size: var(--h2-size);
                font-family: var(--body-font-family);
            }
        }

        .attorney {
            display: flex;
            gap: 20px;
            justify-content: center;
            width: 90%;
            margin: auto;
            .attrney-image {
                position: relative;
                img {
                    height: 170px;
                    margin: auto;
                    object-fit: cover;
                }
                .attrney-caption{
                    background: rgba(0, 0, 0, .2);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    transition-duration: 0.2s;
                    &:hover{
                        background: rgba(0, 0, 0, .5);
                        h2{
                            margin-bottom: 10px;
                        }
                    }
                   h2{
                    color: var(--white);
                    transition-duration: 0.2s;
                    text-align: center;
                    font-size: var(--h4-size);
                    font-weight: 600;
                    text-transform: uppercase;
                    font-family: var(--body-font-family);
                   }
                }
            }

            p {
                font-size: 22px;
                text-align: center;
                padding-top: 1.25rem;
                padding-bottom: 0.25rem;
                font-weight: bold;
                color: var(--btn-secondary-bg);
            }

            a {
                font-size: 19px;
                display: flex;
                justify-content: center;
                font-weight: bold;
                color: var(--btn-primary-bg);
            }
        }
        
    }

    .case-area {
        .case-header {
            display: flex;
            justify-content: center;
            padding: 1rem 0;

            h3 {
                text-align: center;
                font-size: var(--h3-size);
                font-weight: 400;
                font-family: var(--body-font-family);
                color: var(--dark-bg);
            }


        }

    }

    .view-all {
        font-weight: 600;
        color: var(--btn-primary-bg);
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
        margin: 40px 0;
    }

}

.attorneys-members{

    .attorneys-section {
        .attorney-header {
            text-align: center;
            padding: 40px 0;
        }
        h2{
            color: var(--dark-bg);
            font-size: var(--h2-size);
            font-family: var(--body-font-family);
        }

        .attorney {
            display: flex;
            gap: 40px;
            justify-content: center;;
            article {
                img {
                    height: 280px;
                    margin: auto;
                }
            }

            p {
                font-size: 22px;
                text-align: center;
                padding-top: 1.25rem;
                padding-bottom: 0.25rem;
                font-weight: bold;
                color: var(--btn-secondary-bg);
            }

            a {
                font-size: 19px;
                display: flex;
                justify-content: center;
                font-weight: bold;
                color: var(--btn-primary-bg);
            }
        }
    }
}
.last-section {
    padding-top: 7rem;
    text-align: center;
    background-color: rgb(241 245 249);

    .content {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .heading-content {
        margin: 0 5rem;
        padding: 2rem;
        font-weight: 700;
        text-align: center;
        font-size: var(--h3-size);
        line-height: 2rem;
        color: var(--dark-bg);
    }

}

section.single-video {
    background: var(--dark-bg);
    padding: 50px;
    .video-container {
        display: flex;
        justify-content: center;
    }
}

footer {
    background-color: var(--dark-bg);

    .footer-area {
        display: flex;

        .footer-left {
            flex-shrink: 0;
            margin-left: 1.5rem;
            padding: 2.25rem;

            img {
                height: 3rem;
                width: auto;
            }

            .call {
                color: var(--white);
                padding: 0.5rem;
                font-size: var(--h1-size);
                margin-top: 1rem;
            }

            a {
                font-size: var(--h1-size);
                line-height: 2.5rem;
                color: var(--white);
                text-decoration: none;

            }

            .social-icon {
                font-size: 3rem;
                line-height: 1;
                padding-top: 1rem;
                color: var(--white);
                display: flex;
                justify-content: space-between;
                gap: 16px;

                li {
                    a {
                        background-color: var(--panel-title);
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        transition-duration: .3s;

                        &:hover {
                            opacity: .6;
                        }
                    }
                }
            }
        }

        .footer-right {
            margin-left: 1.5rem;
            padding: 2.25rem;
            flex-grow: 1;
            color: var(--white);

            h2 {
                font-size: var(--h1-size);
                font-family: var(--heading-font-family);
                font-weight: normal;
            }

            p {
                font-size: var(--h3-size);
                line-height: 1.9;
                margin-top: 1rem;
                font-family: var(--body-font-family);
            }
        }
    }

    .copyright {
        padding: 1.25rem;

        p {
            padding: 4px;
            text-align: center;
            color: var(--white);
        }
        .footer-menu{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                li{
                    a{
                        color: var(--white);
                    }
                    &:after {
                        content: '|';
                        padding: 0 .5rem;
                        color: var(--white);
                    }

                    &:last-child:after {
                        content: '';
                    }
                }
            }
        }
    }
}



.law-section{
    width: 90%;
    margin: auto;
    .low-area{
        h3{
            font-size: var(--h2-size);
            line-height: 3rem;
            padding: 2rem 0;
            font-weight: 400;
            text-align: center;
            color: var(--dark-bg);
            text-transform: uppercase;
            font-family: var(--body-font-family);
        }
        .accordion{
            list-style: none;
            padding: 0;
            li {
                margin: 0.5em 0;
                a{
                    &.toggle{
                        margin: 0 20px;
                        font-size: var(--h3-size);
                        font-family: var(--body-font-family);
                        font-weight: 500;
                        padding: 3px 0;
                        cursor: pointer;
                        width: 100%;
                        display: block;
                        color: var(--panel-title);
                        border-radius: 0.15em;
                        &:hover{
                            opacity: .7;
                        }

                        &:before{
                            float: left !important;
                            content: '\002B';
                            padding-right: 5px;
                            background: var(--dark-bg);
                            color: var(--white);
                            padding: 0px 7px;
                            margin-right: 15px;
                            font-size: 1rem;
                            margin-top: 8px;
                        }
                        &.toggleIcon{
                            &:before{
                                float: left !important;
                                content: "\2212";
                                
                            }
                        }
                    }
                    
                }
                .inner {
                    padding-left: 3em;
                    overflow: hidden;
                    display: none;
                    .city {
                        display: flex;
                        justify-content: space-between;
                        font-size: 21px;
                        .col{
                            list-style: disc;
                            a {
                                padding: 4px 0;
                                display: block;
                            }
                        }
                    }
                }
            }
            
        }

       
    }
    
 }

.google-reviews{
    margin-top: 50px;
}

/* responsive css */
@import 'blog.scss';

/* responsive css */
@import 'normalize.scss';


/* responsive css */
@import 'responsive.scss';